body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  margin: 0 0 15px;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
  text-align:center;
}

h2 {
  font-size: 2em;
}
.commentAuthor{
  display: inline-block;
  padding-left: 20px;
  transition: color 1s;
  -webkit-transition: color 1s;
}
.commentAuthor:hover{
  color:#66023c;
}
.comment{
  background:rgba(0, 0, 0, 0.02)
}
#imagine{
  background:url(https://download.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595) no-repeat center center;
  background-size:cover;
}


h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
  padding-left:60px;
  padding-bottom:15px;
}

ul {
  padding-left: 30px;
}
input{
  height:30px;
  width:100%;
  margin:10px 0px 10px 0px !important;
  text-align:center;
}
input[type=submit]{
  height:50px;
  width:100%;
  font-size:20px;
  transition: color 1s;
  -webkit-transition:color 1s;
}
input[type=submit]:hover{
  color:#c70000;
}
.glyphicon{
  font-size:36px;
}
