body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
  text-align:center;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}
.commentAuthor{
  display: inline-block;
  padding-left: 20px;
  transition: color 1s;
  -webkit-transition: color 1s;
}
.commentAuthor:hover{
  color:blue;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
input{
  height:30px;
  width:100%;
  margin:10px 0px 10px 0px !important;
}
input[type=submit]{
  height:50px;
  width:100%;
  font-size:20px;
  transition: color 1s;
  -webkit-transition:color 1s;
}
input[type=submit]:hover{
  color:#c70000;
}
